@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    font-family: 'sy';
    font-style: normal;
    font-display: swap;
    src: url(fonts/SourceHanSerifSC-VF.woff2) format('woff2');
  }
  .sy {
    font-family: 'sy';
    /* font-weight: bold; */
    font-style: normal;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  .btnx {
    @apply border border-cyan-600 hover:border hover:border-cyan-600;
  }
  .swiper-pagination-bullet {
    width: 16px !important;
    height: 3px !important;
    border-radius: 0 !important;
    background-color: #ffffff !important;
  }
  .swiper-pagination-bullet-active {
    width: 32px !important;
    background-color: #06b6d4 !important;
  }
}
